# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store

# Files from Forge MDK
forge*changelog.txt

# Node Proxy
/node_modules
/package-lock.json

# Node Proxy
/proxy/node_modules
/proxy/package-lock.json
